#Note: This script does not used build-wheels.sh nor the Makefile included in this repo (that's for local usage)

name: Build Wheels

on: [workflow_dispatch]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macOS-11]

    steps:
      - uses: actions/checkout@v3

      # Used to host cibuildwheel
      - uses: actions/setup-python@v3

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
           CIBW_ARCHS_LINUX: "x86_64"
           CIBW_ARCHS_MACOS: "x86_64 arm64"
           CIBW_BEFORE_ALL_LINUX: >
              if command -v apt-get; then
                apt-get -y git autoconf automake autoconf-archive libtool autotools-dev libbz2-dev gcc g++ make
              elif command -v yum; then
                yum install -y git libtool autoconf-archive bzip2-devel autoconf automake m4 wget pkgconfig
              elif command -v apk; then
                apk add build-base git autoconf-archive autoconf automake libtool bzip2-dev rsync &&
                rsync -av --ignore-existing /usr/share/aclocal/*.m4 /usr/local/share/aclocal/
              fi &&
              bash bootstrap && ./configure && make && make install
           CIBW_BEFORE_ALL_MACOS: >
              brew tap fbkarsdorp/homebrew-lamachine &&
              brew install colibri-core
           CIBW_MANYLINUX_X86_64_IMAGE: quay.io/pypa/manylinux2014_x86_64
           CIBW_SKIP: "*-win* *-manylinux_i686 pp*"

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl
